{% extends 'filtercv/baseTemplate.j2'%}

{% block css %}
{% load static %}

{% endblock css %}

{% block content %}
<div class="container container1 active">
 <form  id="file_upload" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}

    <!-- Tag part -->
      <div class="card mb-5 shadow border-0">
        <div class="card-body form-group form-group-lg">
          <p class="text-muted">
            Add below multiple tags seperate by comma.<br>
          </p>
          <input id="tags" type="text" name="tags" class="form-control tagin" value="" data-placeholder="">
        </div>
    </div>

  <!-- Upload files part -->
  <div class="upload">
  <div class="upload-wrapper">
    <div class="upload-wrapper-text--secondary">
      Make your search easy 
      <span class="upload-wrapper-text--primary">UPLOAD you CV</span>

      <div class="input-bar">
        <div class="input-bar-item">
             <div class="input-group">
                <input class="form-control " id="files" type="file" name="files"  multiple data-show-upload="false" data-show-caption="true">
                <span class="input-group-btn">
                  <button class="btn btn-info" id="submit">Upload</button>
                </span>
            </div>
        </div>
      </div>

    </div> 
  </div>
  </div>
  </form>
</div>

<div class="container container2 inactive">

      <div class="card mb-5 shadow border-0">
        <div class="card-body form-group form-group-lg">
          <p class="text-muted">
            Add below multiple tags seperate by comma.<br>
          </p>
          <input id="tags" type="text" name="tags" class="form-control tagin filter_table" value="" data-placeholder="", onchange ="filterTable()">
        </div>
    </div>

<table class="table table-striped" id="table">
  <thead>
    <tr>
      <th scope="col">CV Name</th>
      <th scope="col">Tags</th>
      <th scope="col">Open CV</th>
    </tr>
  </thead>
  <tbody id="tbody">

  </tbody>
</table>


</div>
{% endblock content%}

{% block javascript %}
{% load static %}
    <script src="{% static 'filtercv/custom.js' %}"></script>

{% endblock javascript %} 