{% extends 'filtercv/baseTemplate.j2'%}

{% block css %}
{% load static %}

{% endblock css %}

{% block content %}
    <div class="container-sm">

        <section class="section">

            <!-- Full Body Part -->
            <div class="upload_blue_box">

                <!-- Text and Upload Part -->
                <div class="row align-items-center body_wrapper">

                    <!-- Text Part Only-->
                    <div class="col-md-4 align-self-center heading_text">
                        <div class="upload_heading-text--secondary">
                            Make your search easy
                            <span class="upload_heading-text--primary">UPLOAD your CV</span>
                        </div>
                    </div>

                    <!-- Upload part Only-->
                    <div class="col-md-8 align-self-center">
                        <div class="box has-advanced-upload" id="dropbox">
                            <div class="box__input">
                                <i class="fas fa-cloud-upload-alt box__icon"></i>
                                <input type="file" name="files[]" id="input_files" class="box__file"
                                    data-multiple-caption="{count} files selected" multiple />
                                <label for="input_files"><strong>Choose files</strong><span class="box__dragndrop"> or
                                        drag the files
                                        here</span>.</label>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- Search input and table  -->
                <div class="body_wrapper">
                    <div class="file_table">
                        <div class="file_table_filter">
                            <input type="text" class="file_table_filter_input" id="filter_file_table_input"
                                placeholder="Search for file.." title="Search for File">
                            <i class="fa fa-user fa-lg"></i>
                        </div>
                    </div>

                    <!-- Table Part -->
                    <table class="table table-striped justify-content-center">
                        <thead>
                            <tr>
                                <th scope="col" class="col-8">File Name</th>
                                <th scope="col" class="col-2">Tags</th>
                                <th scope="col" class="col-2">Action</th>
                            </tr>
                        </thead>
                        <tbody id="file_table">
                            <tr>
                                <td><i class="fas fa-file-pdf"></i> Mark</td>
                                <td>Otto</td>
                                <td><i class="far fa-trash-alt"></i></td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Tags Button -->
            <div class="tag_wrapper">
                <div class="tag__input">
                    <input type="text" placeholder="Add tags here">
                </div>
                <div class="tags__placed">
                </div>
            </div>

            <!-- Action Buttons -->
            <div class="row justify-content-between action-btns">
                <input type="reset" is="button" class="btn btn-warning col-4 reset" value="Reset" id="reset_btn">
                <button type="button" class="btn btn-primary col-4 submit" id="submit_btn">Submit</button>
            </div>
        </section>

        <section class="section hide_section">
                <div class="body_wrapper">
                    <div class="file_table">
                        <div class="file_table_filter">
                            <input type="text" class="file_table_filter_input" id="result_searching_tags"
                                placeholder="Filter file using tags seperated by comma and space" title="Filter Result using tags">
                            <i class="far fa-file-search"></i>
                        </div>
                    </div>

                    <!-- Table Part -->
                    <table class="table table-striped justify-content-center">
                        <thead>
                            <tr>
                                <th scope="col" class="col-8">File Name</th>
                                <th scope="col" class="col-2">Tags</th>
                            </tr>
                        </thead>
                        <tbody id="result_table">
                            <tr>
                                <td><i class="fas fa-file-pdf"></i> Mark.pdf</td>
                                <td>python, javascript</td>
                                <td><i class="far fa-trash-alt"></i></td>
                            </tr>
                            <tr>
                                <td>Jacob.pdf</td>
                                <td>java, javascript</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>Larry.pdf</td>
                                <td>the, Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <!-- Action Buttons -->
            <div class="row justify-content-between action-btns">
                <button type="button" class="btn btn-info col-4 submit" id="previous_btn">Go back</button>
            </div>
        </section>
    </div>
 
{% endblock content%}

{% block javascript %}
{% load static %}
<script src="{% static 'filtercv/custom.js' %}"></script>
{% endblock javascript %}